<script>
  import { onMount } from "svelte";

  let orders = [];
  let endpoint = "http://localhost:8080/api/v1/orders/";

  async function getOrders() {
    const response = await fetch(endpoint);
    orders = await response.json();

    if (orders.errorCode) {
      throw new Error(orders.errorMessage);
    }
    return orders;
  }

  async function payed(orderId) {
    const response = await fetch(
      "http://localhost:8080/api/v1/orders/checkpayment/" + orderId,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/hal+json",
        },
      }
    );
    promise = getOrders();
  }

  let promise = getOrders();

  onMount(async function () {
    promise = getOrders();
  });

</script>

<main>
  <div class="m-5 p-5 border rounded-3">
    <h1 class="text-center">Buchhaltung</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Status</th>
          <th scope="col" />
        </tr>
      </thead>
      <tbody>
        {#await promise}
          <p style="color: blue;>">Warte auf Daten...</p>
        {:then orders}
          {#each orders as order}
            <tr>
              <th scope="row">{order.orderID}</th>
              <td>{order.state}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm {order.state ==
                  'PAYMENT_VERIFIED' || order.state == 'PREPARING_FOR_DELIVERY'
                    ? 'disabled'
                    : ''}"
                  on:click={() => payed(order.orderID)}>Bezahlt</button
                >
              </td>
            </tr>
          {/each}
        {:catch error}
          <p style="color: red;>">{error.message}</p>
        {/await}
      </tbody>
    </table>
  </div>
</main>

<style>
</style>
