<script>
  let cart = [];
  let products = [
    {
      id: 1,
      productNumber: "1234567890",
      productName: "Brille",
      priceNet: 150,
      tax: 20,
      image: "/img/brille.png",
      quantity: 1,
    },
    {
      id: 2,
      productNumber: "0987654321",
      productName: "Smartphone",
      priceNet: 350,
      tax: 20,
      image: "/img/smartphone.png",
      quantity: 1,
    },
    {
      id: 3,
      productNumber: "5432167890",
      productName: "Laptop",
      priceNet: 1000,
      tax: 20,
      image: "/img/laptop.png",
      quantity: 1,
    },
  ];

  let kunde = {
    customerID: "1234123412",
    customerFirstname: "Dario",
    customerLastname: "Sko",
    customerEmail: "dario_sko@hotmail.com",
    customerStreet: "Musterstrasse",
    customerZipcode: "1234",
    customerCity: "Prutz",
    customerCountry: "Tirol",
    cartItems: [],
  };
  let result = null;

  async function buy() {
    cart = parseCart(cart);
    kunde.cartItems = cart;
    const res = await fetch("http://localhost:8080/api/v1/orders/", {
      method: "POST",
      headers: {
        "Content-Type": "application/hal+json",
      },
      body: JSON.stringify(kunde),
    });
    const json = await res.json();
    result = JSON.stringify(json);
    cart = [];
  }

  function parseCart(cart) {
    let newCart = [];
    let newItem;

    for (let item of cart) {
      newItem = {
        productNumber: item.productNumber,
        productName: item.productName,
        priceNet: item.priceNet,
        tax: item.tax,
        amount: item.quantity,
      };
      newCart = [...newCart, newItem];
    }
    return newCart;
  }

  const addToCart = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        product.quantity += 1;
        cart = cart;
        return;
      }
    }
    cart = [...cart, product];
  };

  const minusItem = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        if (product.quantity > 1) {
          product.quantity -= 1;
          cart = cart;
        } else {
          cart = cart.filter((cartItem) => cartItem != product);
        }
        return;
      }
    }
  };

  const plusItem = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        item.quantity += 1;
        cart = cart;
        return;
      }
    }
  };

  $: total = cart.reduce(
    (sum, item) => sum + (item.priceNet * (item.tax/100+1)) * item.quantity,
    0
  );
</script>

<main>
  <div class="m-5 p-5 border rounded-3">
    <h1 class="text-center">Kundenbestellung</h1>

    <div class="product-list d-flex justify-content-center text-center">
      {#each products as product}
        <div>
          <div class="image" style="background-image: url({product.image})" />
          <h4>{product.productName}</h4>
          <p>{product.priceNet}€</p>
          <button class="btn btn-primary" on:click={() => addToCart(product)}
            >Hinzufügen</button
          >
        </div>
      {/each}
    </div>

    <div class="cart-list mt-2 rounded">
      {#each cart as item}
        {#if item.quantity > 0}
          <div class="cart-item">
            <img width="50" src={item.image} alt={item.productName} />
            <div>
              {item.quantity}
              <button class="btn btn-primary" on:click={() => plusItem(item)}
                >+</button
              >
              <button class="btn btn-primary" on:click={() => minusItem(item)}
                >-</button
              >
            </div>
            <p>
              USt. {item.tax}% + {item.priceNet}€ = {(item.priceNet *
                (item.tax/100+1)) *
                item.quantity}€
            </p>
          </div>
        {/if}
      {/each}
      <div class="total">
        <h4>Total: {total}€</h4>
      </div>
    </div>
    <button class="btn btn-primary mt-2 {cart.length == 0 ? 'disabled' :''}" on:click={buy}>Kaufen</button>
  </div>
</main>

<style>
  .product-list,
  .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .total {
    text-align: right;
  }

  .cart-list {
    border: 1px solid;
    padding: 10px;
  }
</style>
