<script>
  import { onMount } from "svelte";

  let packings = [];
  let endpoint = "http://localhost:8080/stock/packings";

  async function getPackings() {
    const response = await fetch(endpoint);
    packings = await response.json();
  }

  async function packed(packingItemId) {
    const response = await fetch(
      "http://localhost:8080/stock/setPackedForPacking/" + packingItemId,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/hal+json",
        },
      }
    );
    promise = getPackings();
  }

  let promise = getPackings();

  onMount(async function () {
    promise = getPackings();
  });
</script>

<main>
  <div class="m-5 p-5 border rounded-3">
    <h1 class="text-center">Lager</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PackingList ID</th>
          <th scope="col">Nummer</th>
          <th scope="col">Name</th>
          <th scope="col">Menge</th>
          <th scope="col" />
        </tr>
      </thead>
      <tbody>
        {#await promise}
          <p style="color: blue;>">Warte auf Daten...</p>
        {:then packings}
          {#each packings as packing}
            {#each packing.packingItemList as pack}
              <tr>
                <th scope="row">{packing.orderId}</th>
                <td>{pack.id}</td>
                <td>{pack.productNumber}</td>
                <td>{pack.productName}</td>
                <td>{pack.amount}</td>
                <td>
                  <button
                    class="btn btn-sm {pack.packed == true
                      ? 'disabled btn-danger'
                      : 'btn-primary'}"
                    on:click={() => packed(pack.id)}
                    >{pack.packed == true ? "VERPACKT!" : "Verpacken"}</button
                  >
                </td>
              </tr>
            {/each}
          {/each}
        {:catch error}
          <p style="color: red;>">{error.message}</p>
        {/await}
      </tbody>
    </table>
  </div>
</main>

<style>
</style>
