<script>
import { Router, Link, Route } from "svelte-routing";
  import Buchhaltung from "./routes/buchhaltung.svelte";
  import Kundenbestellung from "./routes/kundenbestellung.svelte";
  import Lager from "./routes/lager.svelte";

  export let url = "";
</script>

<main>

  <Router url="{url}">
      
    <div>
      <ul class="nav nav-pills m-3 justify-content-center">
        <li class="nav-item me-3">
          <Link class="nav-link active" to="/">Kunde</Link>
        </li>
        <li class="nav-item me-3">
          <Link class="nav-link active" to="Buchhaltung">Buchhaltung</Link>
        </li>
        <li class="nav-item me-3">
          <Link class="nav-link active" to="Lager">Lager</Link>
        </li>
      </ul>
      <Route path="/"class="nav-link active" component="{Kundenbestellung}" />
      <Route path="Buchhaltung" component="{Buchhaltung}" />
      <Route path="Lager" component="{Lager}" />
    </div>
  </Router>

</main>

<style>
</style>
